<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script th:src="@{/js/register.js}"></script>
</head>
<body>
<h1>New user</h1>
<form th:action="@{/register}" enctype="multipart/form-data" method="post" id="formregister">
    <input type="text" name="username" id="username" placeholder="username">
    <input type="password" name="password" id="pass" placeholder="password">
    <input type="password" name="" id="repass" placeholder="password again">
    <input type="file" name="fotoUser" accept="image/*">

    <input type="submit" value="New User">
</form>
</body>
</html>